{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Update Subscription{% endblock %}</h1>
{% endblock %}

{% block content %}
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='inp.css') }}">
  </head>
  <br>
<h3>Update Subscription:</h3>
<div>
<form id="update-subscription" action="/update-subscription/{{ subscription[0] }}" method="post">
    Last Renewal: <input type="datetime-local" name="renewal-date" value="{{ subscription[4] }}"><br>
    Status: <input type="text" name="status" value="{{ subscription[5] }}"><br>
    Subscriber Rating (1-5): <input type="number" name="rating" value="{{ subscription[6] }}"><br>
    Premium?* <input type="checkbox" name="premium" value="true"><br>
    <input type="submit" value="Submit">
 </form>
<br>
<p>*Whatever value is submitted will take. Blank does not mean empty, it means False.</p>
<br/>
</div>
{% endblock %}