{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}TUpdate Package{% endblock %}</h1>
{% endblock %}

{% block content %}
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='inpt.css') }}">
  </head>
<h3>Update Package:</h3>
<form id="update-package" action="/update-package/{{ package[0] }}" method="post">
    Package Name: <input type="text" name="package-name" value = "{{ package[1] }}"><br>
    Standard Price: <input type="text" name="standard-price" value = "{{ package[2] }}"><br>
    Premium Price: <input type="text" name="premium-price" value = "{{ package[3] }}"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}