#tbl {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98%;
}
  
  
#tbl tr:nth-child(even){background-color: rgb(248, 253, 255,0.3);}
  
#tbl tr:hover {background-color: #ddd;}
  
#tbl th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color:rgb(248, 253, 255,0.9);
    color: rgb(87, 135, 196, 0.7);
}

#tbl td {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color:rgb(248, 253, 255,0.9);
    color:black;
}

input {
    box-shadow: 0 0 40px 40px rgb(248, 253, 255,0.9) inset, 0 0 0 0 rgb(248, 253, 255,0.9);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: rgb(87, 135, 196, 0.7);
    padding: 1% 1%;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 1px;
    cursor: pointer;
}

input:hover {
    box-shadow: 0 0 10px 0 rgb(87,135,196) inset, 0 0 10px 4px rgb(87,135,196);
}
